<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://sedintechnologies.com/" target="_blank"
        >Sedin Technologies</a
      >
      building things for the mobile and server with some awesome people. I
      graduated from
      <a class="underline-link" href="https://www.gtu.ac.in/" target="_blank"
        >Gujarat Technological University</a
      >
      in 2017 with a B.Tech in Computer Science.
    </p>

    <p>
      As a software engineer, I enjoy building open-source software and
      libraries
    </p>

    <!-- <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably
      snowboarding, cruising around on my penny board, or crossing off another
      item on my bucket list.
    </p> -->

    <!-- {% include employment-status.html %} -->
  </div>
</section>
